<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 配置控制台的日志信息 -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <typeAliases>
        <package name="com.qf.storage.po"></package>
        <package name="com.qf.sys.po"></package>
    </typeAliases>
    <mappers>
        <mapper resource="com/qf/storage/dao/StorehouseDaoMapper.xml"></mapper>
        <mapper resource="com/qf/sys/dao/EmpDaoMapping.xml"></mapper>
    </mappers>
</configuration>